 @model IEnumerable<App.WEB.Models.GuestBookMessageViewModel>
 
  <h3 class="text-center">Все записи</h3>
  <br>
 @foreach (var item in Model)
 {
      <div class="row">
         <div col-lg-6 col-md-6>
             <div class="panel panel-info">
                <div class="panel-body">
  
                     <p class="text-primary" style="word-break: break-all;">@item.Message</p>
  
                      </div>
 
                 <div class="panel-footer">
                      <p>Пользователь <b>@item.GuestName</b> оставил комментарий. Время: @item.WhenAdded</p>
                  </div>
              </div>
          </div>
       </div>
 
 }
