@{
    ViewBag.Title = "Домашняя страница";
    <link type="text/css" rel="stylesheet" href=@Url.Content("~/Content/Cover.css") />
}
 

<div id="center">
    <div class="frost"> </div>
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h1 class="masthead-brand">Your Job</h1>

                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading">Сервис услуг</h1>
                <p class="lead">Your Job - удобный сервис, который поможет вам в решении ваших бытовых задач. Вам только необходимо разместить свое задание на сервисе. </p>
                <p class="lead">
                    <a href=@Url.Action("Index", "Post") class="btn btn-lg btn-default">Далее</a>
                </p>
            </div>

        </div>
    </div>
</div>

<br>
<br>
<br>


<br>
<br>
<br>