@model IEnumerable<App.WEB.Models.PostViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Управление";
}


<div id="handle">
    @Html.Partial("HandlePartial")
</div>

@Scripts.Render("~/Scripts/jquery-3.1.1.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

